@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ededed;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: sans-serif;
}

.grade {
  width: 36px;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 4px;
  float: left;
  background-color: #ece2e2;
}




